.App {
  text-align: center;
  background-color: #12092a;
  @apply text-white font-rubik;
}

.global-transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  @apply text-[#0CFFC5];
}

.disable-scrollbars::-webkit-scrollbar {
  /* Chrome/Safari/Webkit */
  width: 14px;
}

.disable-scrollbars::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  -webkit-border-radius: 7px;
}

.disable-scrollbars {
  /* Firefox */
  scrollbar-width: 14px;
  /* IE 10+ */
  -ms-overflow-style: 14px;
}
